<ion-navbar *navbar>
  <ion-title>
    Quotes
  </ion-title>
</ion-navbar>

<ion-content class="home">
  <div padding>
    <h1>Welcome {{ authenticationService.user }}</h1>
    
    <p *ngIf="quote">{{ quote }}</p>
    <p *ngIf="error">Error: {{ error }}</p>
    
    <button block (click)="onGetQuote()">Get a Quote from Chuck Norris</button>
  </div>
</ion-content>
