<ion-navbar swipe-back-enabled="false" hideBackButton *navbar>
  <ion-title>Login or Signup</ion-title>
</ion-navbar>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="authType">
      <ion-segment-button value="login">
        Login
      </ion-segment-button>
      <ion-segment-button value="signup">
        Signup
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="authType">
    
    <form *ngSwitchWhen="'login'" #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)">
      <p *ngIf="loginError" class="error" padding>{{ loginError }}</p>
      
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" ngControl="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" ngControl="password"></ion-input>
      </ion-item>

      <div padding>
        <button block type="submit">Login</button>        
      </div>
    </form>

    <form *ngSwitchWhen="'signup'" #signupCreds="ngForm" (ngSubmit)="signup(signupCreds.value)">
      <p *ngIf="signupError" class="error" padding>{{ signupError }}</p>
      
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" ngControl="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" ngControl="password"></ion-input>
      </ion-item>

      <div padding>
        <button block type="submit">Signup</button>
      </div>
    </form>
    
  </div>
</ion-content>
